body.remp-selector .remp-banner {
    padding: 30px 15px;
    background: #CCC;
    border: 2px solid #777;
    border-radius: 3px;
    color: #444;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    font-family: sans-serif;
    opacity: .6;
    cursor: not-allowed;
}

body.remp-selector .remp-banner[id] {
    opacity: 1;
    cursor: default;
}

body.remp-selector .remp-banner[id]:hover,
body.remp-selector .remp-banner[id].remp-active {
    color: #A94442;
    background-color: #F2DEDE;
    border-color: #EBCCD1;
    cursor: pointer;
}

body.remp-selector .remp-banner:before {
    content: 'banner - missing #id';
}

body.remp-selector .remp-banner[id]:before {
    content: 'banner';
}